project_id          = "html-share-prod"
region              = "asia-northeast1"
iap_domain          = "example.com"
content_bucket_name = "html-share-prod-content"
tfstate_bucket_name = "html-share-prod-tfstate"
image               = "asia-northeast1-docker.pkg.dev/html-share-prod/html-share/nginx:1"
uploader_image      = "asia-northeast1-docker.pkg.dev/html-share-prod/html-share/uploader:1"
service_name        = "share"
